dist: bionic

os: linux
sudo: required
language: c

services:
  - docker

# @@ Travis Dashboard Variables Required to Run Project !!
# DKRHUB_USER="Dockerhub username here"
# DKRHUB_PASS="Dockerhub password here"
# DKRHUB_PROJ="Name of dockerhub project"
# DKRHUB_REPO="${DKRHUB_USER}/${DKRHUB_PROJ}""
# AUTH_EMAIL="Email of author for notifications"

env:
  global:
    - COMMIT_SHA=${TRAVIS_COMMIT::8}

stages:
  # STAGE#1: Build & Test Stage
  # - Enable for master, hotfix, bugfix, release, builds, tests, topic, pull_request, or master-tags (v*, tmp* or qa*)
  - name: "Prepare"
    if: |
      ((branch = master) AND (tag IS blank) AND (type != pull_request)) OR \
      ((branch =~ /^hotfix\/(.*)/) AND (tag IS blank) AND (type != pull_request)) OR \
      ((branch =~ /^bugfix\/(.*)/) AND (tag IS blank) AND (type != pull_request)) OR \
      ((branch =~ /^release\/(.*)/) AND (tag IS blank) AND (type != pull_request)) OR \
      ((branch =~ /^builds\/(.*)/) AND (tag IS blank) AND (type != pull_request)) OR \
      ((branch =~ /^tests\/(.*)/) AND (tag IS blank) AND (type != pull_request)) OR \
      ((branch =~ /^topic\/(.*)/) AND (tag IS blank) AND (type != pull_request)) OR \
      type = pull_request OR \
      ((tag =~ /^(v|tmp|qa)(\d+.)(\d+.)(\d+)$/) AND (branch = master))

  # STAGE#2: Deploy to Prod Stage
  # - Enable for master, or master-tags (only v*)
  - name: "Deploy"
    if: |
      ((branch = master) AND (tag IS blank) AND (type != pull_request)) OR \
      ((tag =~ /^(v)(\d+.)(\d+.)(\d+)$/) AND (branch = master) AND (type != pull_request))

jobs:
  include:
    - stage: Prepare
      script:
        - set -Eeo pipefail
        - chmod 755 ./scripts/envinfo.sh
        - bash ./scripts/envinfo.sh > envinfo.txt
        - cat envinfo.txt

        - echo "~~ Build Success ~~"

    - stage: Deploy
      script:
        - set -Eeo pipefail
        - chmod 755 ./scripts/envinfo.sh
        - bash ./scripts/envinfo.sh > envinfo.txt
        - cat envinfo.txt

        - echo "~~ Deploy Success ~~"
notifications:
  email:
    recipients:
      - ${AUTH_EMAIL}
    on_success: never
    on_failure: never
